<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Livros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Todos as Livros</h1>
        
        <!-- Botão para adicionar um novo produto -->
        <a href="/products/new" class="btn btn-success mb-3">Adicionar Novas Insginias</a>
        
        <!-- Tabela de Produtos -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <td><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td>R$ <%= product.price.toFixed(2) %></td>
                        <td><%= product.category %></td>
                        <td>
                            <a href="/products/<%= product.id %>" class="btn btn-primary">Visualizar</a>
                            <a href="/products/<%= product.id %>/edit" class="btn btn-warning">Editar</a>
                            <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
